@{
    Layout = null;
    var action = int.Parse(ViewBag.Action);
}

@model Ghichu
<div class="modal-dialog modal-lg modal-dialog-centered">
    <form class="modal-content note-modal" action="javascript:void();">
        @Html.AntiForgeryToken()

        <!-- Header -->
        <div class="modal-header border-0 pb-2">
            <h5 class="modal-title fw-semibold">
                @(action == 1 ? "Thêm ghi chú" : "Chỉnh sửa ghi chú")
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Title -->
        <div class="px-4 pt-2">
            <input type="text"
                   id="noteTitle"
                   name="Tieude"
                   class="form-control note-title-input"
                   placeholder="Tiêu đề..."
                   value="@Model.Tieude" required/>
        </div>

        <!-- Body -->
        <div class="modal-body px-4 pt-3">
            <textarea asp-for="@Model.Noidung"
                      id="noteContent"
                      name="Noidung"
                      class="form-control note-content-input"
                      rows="8"
                      placeholder="Nội dung..." required></textarea>

            <input type="hidden" name="Id" value="@Model.Id" />
        </div>

        <!-- Footer -->
        <div class="modal-footer border-0 px-4 pb-4">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                Đóng
            </button>

            <button type="button"
                    onclick="saveData()"
                    class="btn btn-primary px-4">
                @(action == 1 ? "Thêm mới" : "Lưu")
            </button>
        </div>
    </form>
</div>


<script type="text/javascript">
        function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }
  
     function saveData(){
        var formData = getFormData($('form'));
        console.log(formData);
        $.post("@(action == 1 ? "/Ghichus/Create":"/Ghichus/Edit")" , formData , (resp) =>{
                if(resp.isSuccess){
                    hideModal();
                    getList();
                }    
        }).fail(function (err) {
            console.log(err);
    });

    }
</script>